---
import HomeSection from "../components/HomeSection.astro";
import Links from "../components/Links.astro";
import Shields from "../components/Shields.astro";
import Timeline from "../components/Timeline.astro";
import Root from "../layouts/Root.astro";
---

<Root>
  <section class="flex flex-col gap-9">
    <div class="flex flex-col gap-4">
      <h1 class="!mb-0">ktshik</h1>
      <p class="text-lg leading-relaxed text-[var(--fg-muted)] max-w-prose">
        I build <strong class="font-medium text-[var(--fg)]">human-centric</strong>,
        <strong class="font-medium text-[var(--fg)]">socially-relevant</strong>
        software products.
      </p>
    </div>
    <!-- <hr class="rule-dotted w-full" /> -->
    <HomeSection title="Reach out">
      <Links />
    </HomeSection>
    <HomeSection title="Stack">
      <Shields />
    </HomeSection>
    <HomeSection title="Experience">
      <Timeline />
    </HomeSection>
  </section>
</Root>
