---
import Link from "./Link.astro";
---

<ul
  class="text-sm flex flex-wrap gap-x-6 gap-y-2 text-[var(--fg-muted)]"
>
  <li>
    <Link label="email" href="mailto:jatkindev@gmail.com" />
  </li>
  <li>
    <Link label="linkedin" href="https://linkedin.com/in/jatkindev" />
  </li>
  <li>
    <Link label="github" href="https://github.com/ktshik" />
  </li>
  <li>
    <Link label="x" href="https://x.com/ktshik_" />
  </li>
</ul>
